.badge{
    width: fit-content;
    padding: 4px;
    margin: 0 4px 3px 0;
    color: #5D5D5D;
    background-color: aliceblue;
    font-size: 12px;
    font-weight: bold;
    margin-top: 8px;
}

.companyandlocation{
    font-size: 13px;
}

@media screen and (max-width:600px){
    .jobTitle{
        font-size: 15px;
        width: 18rem;
        text-overflow: ellipsis;
        overflow: hidden;
    
    }
}